<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="#" class="logo">Blueprint</a>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#services" class="nav__link">
            Послуги
          </a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">
            Про нас
          </a>
        </li>
        <li class="nav__item">
          <a href="#advantages" class="nav__link">
            Переваги
          </a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">
            Контакти
          </a>
        </li>
      </ul>
      <button type="button" class="btn-primary">
        Зв'язатись
      </button>
    </nav>
  </div>
</header>
